@font-face {
    font-family: 'proxima_novablack';
    src: url('/assets/fonts/Proxima_Nova/proximanova-black-webfont.woff2') format('woff2'),
         url('/assets/fonts/Proxima_Nova/proximanova-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'proxima_novabold';
    src: url('/assets/fonts/Proxima_Nova/proximanova-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/Proxima_Nova/proximanova-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'proxima_novalight';
    src: url('/assets/fonts/Proxima_Nova/proximanova-light-webfont.woff2') format('woff2'),
         url('/assets/fonts/Proxima_Nova/proximanova-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'proxima_novaregular';
    src: url('/assets/fonts/Proxima_Nova/proximanova-reg-webfont.woff2') format('woff2'),
         url('/assets/fonts/Proxima_Nova/proximanova-reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'proxima_novaregular_italic';
    src: url('/assets/fonts/Proxima_Nova/proximanova-regit-webfont.woff2') format('woff2'),
         url('/assets/fonts/Proxima_Nova/proximanova-regit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'proxima_novaextrabold';
    src: url('/assets/fonts/Proxima_Nova/proximanova-xbold-webfont.woff2') format('woff2'),
         url('/assets/fonts/Proxima_Nova/proximanova-xbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}